<h1>My Items</h1>

<div class="my-items">
    <% @merchant.items.each do |item| %>
      <ul>
        <% if item.status == 'Enabled' %>
          <li><%= link_to item.name, "/merchant/#{@merchant.id}/items/#{item.id}"%>
            - <%= button_to "Disabled", "/merchant/#{@merchant.id}/items?item_id=#{item.id}", method: :patch %> </li>
        <% else %>
          <li><%= link_to item.name, "/merchant/#{@merchant.id}/items/#{item.id}"%>
            - <%= button_to "Enabled", "/merchant/#{@merchant.id}/items?item_id=#{item.id}", method: :patch%> </li>
        <% end %>
      </ul>
    <% end %>
</div>